@charset "utf-8";

$danger: #ff938b;

@import "~bulma/bulma.sass";

.title{
    line-height: 1.5em;
    font-family: Roboto;
    font-weight: 60;
    color: white;
    background-color:limegreen;
}
.br:before {
    content: "\A" ;
    white-space: pre;
}.subtitle{
    margin: 2em 2em 0em 2em;
    text-align: center;
    background: linear-gradient(transparent 70%, yellow 0%);
}
.margin{
    margin: 0em 2em 3em 2em;
}
.margin2{
    position: relative;
    margin: 0em 2em;
}
.margin2:after{
    font-family: "Font Awesome 5 Free";
    content: "\f001";
    position: absolute;
    font-size: 1em;
    font-weight: 900;
    color: black;
}
.step{
    background-color: limegreen;
    color: white;
    padding: 0 0 0 0.5em;
    margin: 0em 2em;
    font-family: sans-serif;
}
.explanation{
    margin: 0em 2em 1.8em;
}
.circle {
    position: relative;
    padding: 0;
    margin: 0;
}
.circle span {
    position: absolute;
    display: inline-block;
    //background: #ff9915;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.spot-link {
    border: none;
    background-color: white;
    font-size: medium;
    text-align: left;
    text-decoration: underline;
}

.btn {
    padding: 1em 2em;
    background-color: white;
    border: 1px solid red;
    color: #555;
    font-size: medium;
}

.not-btn {
    background-color: white;
    border: none;
}

.icon1 {
    position: relative;
    padding-left: 1.4em;
    // color: #7b6459;
    color: #777;
}
.icon1:before {
    font-family: "Font Awesome 5 Free";
    content: "\f277";
    font-weight: 900;
    position: absolute;
    font-size: 1em;
    left: 0;
    top: 12px;
    color: $primary;
}

.icon2 {
    position: relative;
    padding-left: 3.6em;
    // color: #7b6459;
    color: #777777;
}
.icon2:before {
    font-family: "Font Awesome 5 Free";
    content: "\f54b";
    font-weight: 900;
    position: absolute;
    font-size: 1em;
    left: 2em;
    top: 12px;
    color: $danger;
}
.map{
    width: 100%;
    height: 50vh;
    z-index: 100;
}
.spotList{
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    z-index: 1;
}

div.columns {
    margin-right: 0px;
}
